################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AIClientTests/bin
/AIClientTests/obj
/AIClient/WhisperModels/base/ggml-base.en.bin
/AIClient/WhisperModels/small/ggml-small.bin
